# String and text manipulation

## String concatenation

The `"paste"` function is used to concatenate strings, The `"paste0"` modification does not leave spaces between items. In the example below we generate SQL strings using this function:

In [5]:
locations <- c("London", "New York", "Hong Kong")
queries <- paste0("select * from customer_table where location='", locations, "';")
queries

[1] "select * from customer_table where location='London';"
[2] "select * from customer_table where location='New York';"
[3] "select * from customer_table where location='Hong Kong';"

We can collapse these strings together instead of generating them separately:

In [7]:
paste0("select * from customer_table where location='", locations, "'", collapse = "; ")

[1] "select * from customer_table where location='London'; select * from customer_table where location='New York'; select * from customer_table where location='Hong Kong'"

## Searching strings with grep

I have a set of file names:

In [8]:
files <- paste0("file_", sample(1:100, 30), sample(c(".csv", ".tsv", ".txt", ".jpg"), 30, T))
files

 [1] "file_14.jpg"  "file_95.jpg"  "file_90.jpg"  "file_89.tsv"  "file_31.txt"
 [6] "file_20.csv"  "file_22.csv"  "file_24.tsv"  "file_47.txt"  "file_8.txt"
[11] "file_67.jpg"  "file_68.csv"  "file_48.jpg"  "file_12.tsv"  "file_44.jpg"
[16] "file_1.jpg"   "file_34.jpg"  "file_99.csv"  "file_63.txt"  "file_60.txt"
[21] "file_100.jpg" "file_64.tsv"  "file_10.tsv"  "file_65.txt"  "file_33.jpg"
[26] "file_37.jpg"  "file_13.jpg"  "file_79.txt"  "file_46.txt"  "file_69.txt"

I'd like to select only `"csv"` files for analysis

In [12]:
grep("csv$", files, value = TRUE)

[1] "file_20.csv" "file_22.csv" "file_68.csv" "file_99.csv"

## String substitution using gsub

I'd like to change the substring `"file"` with `"item"` in the file names:

In [14]:
gsub("file", "item", files)

 [1] "item_14.jpg"  "item_95.jpg"  "item_90.jpg"  "item_89.tsv"  "item_31.txt"
 [6] "item_20.csv"  "item_22.csv"  "item_24.tsv"  "item_47.txt"  "item_8.txt"
[11] "item_67.jpg"  "item_68.csv"  "item_48.jpg"  "item_12.tsv"  "item_44.jpg"
[16] "item_1.jpg"   "item_34.jpg"  "item_99.csv"  "item_63.txt"  "item_60.txt"
[21] "item_100.jpg" "item_64.tsv"  "item_10.tsv"  "item_65.txt"  "item_33.jpg"
[26] "item_37.jpg"  "item_13.jpg"  "item_79.txt"  "item_46.txt"  "item_69.txt"

Next I want the file names without extensions, `"strsplit"` returns a list type which we will come to later

In [18]:
# Note we need to escape the "." which is a special character in grep
print(strsplit(files[1:5], "\\."))

[[1]]
[1] "file_14" "jpg"

[[2]]
[1] "file_95" "jpg"

[[3]]
[1] "file_90" "jpg"

[[4]]
[1] "file_89" "tsv"

[[5]]
[1] "file_31" "txt"

## Other useful string operations

The `"casefold"` function transforms a string to upper or lower (see also `"toupper"` and `"tolower"`):

In [19]:
casefold("loWer", upper = FALSE)

[1] "lower"

In [21]:
# The number of characters in each item:
nchar(files)

 [1] 11 11 11 11 11 11 11 11 11 10 11 11 11 11 11 10 11 11 11 11 12 11 11 11 11
[26] 11 11 11 11 11

In [22]:
# Selecting part of a string
substring("visualize this", 1, 5)

[1] "visua"

# Exercise 1.9

**Question 1**

You work in a UK marketing company and you would like to run models on four different `"customer_locations"` London, Manchester, Edinburgh, Cardiff. Use the `"paste"` or `"paste0"` functions to generate the SQL strings for extracting the data from your "customer_table".

**Question 2**

Your boss likes the analysis you carried out and want you to run models by `"customer_location"` and `"age_group"`: `"20-30"`, `"31-40"`, `"41-50"`, `"51-60"`. Use `"paste"` or `"paste0"` functions to generate the SQL statements and assign them to the `"sql_strings"` variable. Hint: you'll probably need the `"expand.grid"` function.

**Question 3**

It turns out that Cardiff has miss-labelled and should be Swansea. Use the `"gsub"` function to fix this in "sql_strings".

**Question 4**

Save the `"sql_string"` to an RDS file (`"data1.rds"`) using `"saveRDS"`. Now read the file back and assign it to `"string"` using the `"readRDS"` function. Use R help to search the functions `"saveRDS"` and `"readRDS"`.

**Question 5**

Save the `"files"` vector and the `"sql_string"` vector to a file `"data2.RData"`, using the `"save"` function. Assign the number `1` to `"files"` and `"sql_string"` variables. Now using the `"load"` function to load the saved file. What happened? What is the difference between the `"save"` and `"load"` functions and the `"readRDS"` and `"saveRDS"` functions?