# Preparing data using the `data.table` package

## Installing and loading R packages

The `install.packages` function installs R packages from `CRAN` the Comprehensive R Archive Network and the `remove.packages` function removes named installed packages.

Installed R packages can be loaded for use in an R session by using `require` or `library` function.

# Exercise 2.2

**Question 1**

Create a vector containing the character strings `"data.table"`, `"dplyr"`, `"ggplot2"`, and `"reshape2"`. Then use the `install.packages` function to install these packages on to your system. Hint: if needed use R's help to find help on the `install.packages` function.

Now load the `data.table` package to the R session using the `require` function.

## Creating `data.tables` in R

The `data.table` package was created to allow users to process large datasets faster in memory in R, in addition it has a feature rich query interface data makes it idea for preparing and processing data sets that usually cause R problems.

data.table objects are a reference class rather than the data.frame value classes. This allows operations to be much more efficient - processing can be done in place with much less duplication that with R's traditional databases.

In [1]:
require(data.table)

Loading required package: data.table

In [2]:
# Create a data.table by converting a data.frame
ir <- data.table(iris)
print(ir[1:6,])

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1:          5.1         3.5          1.4         0.2  setosa
2:          4.9         3.0          1.4         0.2  setosa
3:          4.7         3.2          1.3         0.2  setosa
4:          4.6         3.1          1.5         0.2  setosa
5:          5.0         3.6          1.4         0.2  setosa
6:          5.4         3.9          1.7         0.4  setosa

In [3]:
# Creating data.table from vectors
dat <- data.table(product = paste0("product", sample(LETTERS[1:4], 10, T)),
                  price = round(runif(10, 3, 8), 2))
print(dat)

     product price
 1: productD  5.75
 2: productA  5.75
 3: productD  4.24
 4: productC  3.89
 5: productA  3.52
 6: productC  3.87
 7: productA  3.21
 8: productD  4.98
 9: productD  7.02
10: productA  5.51

In [4]:
# Order by product
dat[order(product),]

   product  price
1  productA 5.75
2  productA 3.52
3  productA 3.21
4  productA 5.51
5  productC 3.89
6  productC 3.87
7  productD 5.75
8  productD 4.24
9  productD 4.98
10 productD 7.02

In [5]:
# Order by price
dat[order(price),]

   product  price
1  productA 3.21
2  productA 3.52
3  productC 3.87
4  productC 3.89
5  productD 4.24
6  productD 4.98
7  productA 5.51
8  productD 5.75
9  productA 5.75
10 productD 7.02

If you set the key on a data.table, the table automatically sorts by that key:

In [10]:
# Unsorted table
dat

   product  price
1  productA 5.75
2  productA 3.52
3  productA 3.21
4  productA 5.51
5  productC 3.89
6  productC 3.87
7  productD 5.75
8  productD 4.24
9  productD 4.98
10 productD 7.02

In [11]:
# Set key also sorts the table by the key(s)
setkey(dat, product)
dat

   product  price
1  productA 5.75
2  productA 3.52
3  productA 3.21
4  productA 5.51
5  productC 3.89
6  productC 3.87
7  productD 5.75
8  productD 4.24
9  productD 4.98
10 productD 7.02

The `data.table` package has a file reader `fread` that is very fast and smart! Notice that I do not need to specify any details of column separators and so on - just the file name.

In [30]:
shrooms <- fread("../data/mushroom/mushrooms.csv")
print(shrooms[1:4,])

   class cap-shape cap-surface cap-color bruises odor gill-attachment
1:     p         x           s         n       t    p               f
2:     e         x           s         y       t    a               f
3:     e         b           s         w       t    l               f
4:     p         x           y         w       t    p               f
   gill-spacing gill-size gill-color stalk-shape stalk-root
1:            c         n          k           e          e
2:            c         b          k           e          c
3:            c         b          n           e          c
4:            c         n          n           e          e
   stalk-surface-above-ring stalk-surface-below-ring stalk-color-above-ring
1:                        s                        s                      w
2:                        s                        s                      w
3:                        s                        s                      w
4:                        s                        s                      w
   stalk-color-below-ring veil-type veil-color ring-number ring-type
1:                      w         p          w           o         p
2:                      w         p          w           o         p
3:                      w         p          w           o         p
4:                      w         p          w           o         p
   spore-print-color population habitat
1:                 k          s       u
2:                 n          n       g
3:                 n          n       m
4:                 k          s       u

In [52]:
# Read in house price data
house <- fread("../data/houseprices/train.csv")
print(house[1:2,])

   Id MSSubClass MSZoning LotFrontage LotArea Street Alley LotShape LandContour
1:  1         60       RL          65    8450   Pave    NA      Reg         Lvl
2:  2         20       RL          80    9600   Pave    NA      Reg         Lvl
   Utilities LotConfig LandSlope Neighborhood Condition1 Condition2 BldgType
1:    AllPub    Inside       Gtl      CollgCr       Norm       Norm     1Fam
2:    AllPub       FR2       Gtl      Veenker      Feedr       Norm     1Fam
   HouseStyle OverallQual OverallCond YearBuilt YearRemodAdd RoofStyle RoofMatl
1:     2Story           7           5      2003         2003     Gable  CompShg
2:     1Story           6           8      1976         1976     Gable  CompShg
   Exterior1st Exterior2nd MasVnrType MasVnrArea ExterQual ExterCond Foundation
1:     VinylSd     VinylSd    BrkFace        196        Gd        TA      PConc
2:     MetalSd     MetalSd       None          0        TA        TA     CBlock
   BsmtQual BsmtCond BsmtExposure BsmtFinType1 BsmtFinSF1 BsmtFinType2
1:       Gd       TA           No          GLQ        706          Unf
2:       Gd       TA           Gd          ALQ        978          Unf
   BsmtFinSF2 BsmtUnfSF TotalBsmtSF Heating HeatingQC CentralAir Electrical
1:          0       150         856    GasA        Ex          Y      SBrkr
2:          0       284        1262    GasA        Ex          Y      SBrkr
   1stFlrSF 2ndFlrSF LowQualFinSF GrLivArea BsmtFullBath BsmtHalfBath FullBath
1:      856      854            0      1710            1            0        2
2:     1262        0            0      1262            0            1        2
   HalfBath BedroomAbvGr KitchenAbvGr KitchenQual TotRmsAbvGrd Functional
1:        1            3            1          Gd            8        Typ
2:        0            3            1          TA            6        Typ
   Fireplaces FireplaceQu GarageType GarageYrBlt GarageFinish GarageCars
1:          0          NA     Attchd        2003          RFn          2
2:          1          TA     Attchd        1976          RFn          2
   GarageArea GarageQual GarageCond PavedDrive WoodDeckSF OpenPorchSF
1:        548         TA         TA          Y          0          61
2:        460         TA         TA          Y        298           0
   EnclosedPorch 3SsnPorch ScreenPorch PoolArea PoolQC Fence MiscFeature
1:             0         0           0        0     NA    NA          NA
2:             0         0           0        0     NA    NA          NA
   MiscVal MoSold YrSold SaleType SaleCondition SalePrice
1:       0      2   2008       WD        Normal    208500
2:       0      5   2007       WD        Normal    181500

## Selecting, cleaning, and summarizing data with data.table

In [45]:
# Filtering data
print(ir[Species == "setosa" & Sepal.Length < 4.5,])

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1:          4.4         2.9          1.4         0.2  setosa
2:          4.3         3.0          1.1         0.1  setosa
3:          4.4         3.0          1.3         0.2  setosa
4:          4.4         3.2          1.3         0.2  setosa

In [46]:
# Include the previous filter but only select the Petal.Width column
print(ir[Species == "setosa" & Sepal.Length < 4.5, Petal.Width])

[1] 0.2 0.1 0.2 0.2

In [47]:
# Include the previous filter and selecting multiple columns
print(ir[Species == "setosa" & Sepal.Length < 4.5, list(Sepal.Length, Sepal.Width)])

   Sepal.Length Sepal.Width
1:          4.4         2.9
2:          4.3         3.0
3:          4.4         3.0
4:          4.4         3.2

In [48]:
# The "." operator can be used instead of list
print(ir[Species == "setosa" & Sepal.Length < 4.5, .(Sepal.Length, Sepal.Width)])

   Sepal.Length Sepal.Width
1:          4.4         2.9
2:          4.3         3.0
3:          4.4         3.0
4:          4.4         3.2

In [6]:
# In place modification of a column
print(ir[, Species := toupper(Species)][1:4,])

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1:          5.1         3.5          1.4         0.2  SETOSA
2:          4.9         3.0          1.4         0.2  SETOSA
3:          4.7         3.2          1.3         0.2  SETOSA
4:          4.6         3.1          1.5         0.2  SETOSA

In [7]:
# Appending a dummy variable for Setosa species
print(ir[, Setosa := 1*(Species == "SETOSA")][48:53,])

   Sepal.Length Sepal.Width Petal.Length Petal.Width    Species Setosa
1:          4.6         3.2          1.4         0.2     SETOSA      1
2:          5.3         3.7          1.5         0.2     SETOSA      1
3:          5.0         3.3          1.4         0.2     SETOSA      1
4:          7.0         3.2          4.7         1.4 VERSICOLOR      0
5:          6.4         3.2          4.5         1.5 VERSICOLOR      0
6:          6.9         3.1          4.9         1.5 VERSICOLOR      0

In [8]:
# Removing columns
print(ir[, Setosa := NULL][1:4,])

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1:          5.1         3.5          1.4         0.2  SETOSA
2:          4.9         3.0          1.4         0.2  SETOSA
3:          4.7         3.2          1.3         0.2  SETOSA
4:          4.6         3.1          1.5         0.2  SETOSA

In [65]:
# Applying functions to subsets of tables
print(ir[, .(Sepal.Length = mean(Sepal.Length), Sepal.Width = mean(Sepal.Width)), by = Species])

      Species Sepal.Length Sepal.Width
1:     setosa        5.006       3.428
2: versicolor        5.936       2.770
3:  virginica        6.588       2.974

In [62]:
# Using backticks to get non standard column names
shrooms[, table(`stalk-root`)]

stalk-root
   ?    b    c    e    r
2480 3776  556 1120  192

In [66]:
# In the house price dataset, the Alley variable contains NA values where the property has no alley access
print(house[is.na(Alley), .(YrSold, Heating, Alley, SalePrice, SaleCondition)][1:4])

   YrSold Heating Alley SalePrice SaleCondition
1:   2008    GasA    NA    208500        Normal
2:   2007    GasA    NA    181500        Normal
3:   2008    GasA    NA    223500        Normal
4:   2006    GasA    NA    140000       Abnorml

In [64]:
# The frequency table of the Alley variable:
house[, table(Alley)]

Alley
Grvl Pave
  50   41

In [68]:
# Using the .N variable ...
print(house[, .N, by = Alley])

   Alley    N
1:    NA 1369
2:  Grvl   50
3:  Pave   41

In [69]:
# Clean out the NA values by assigning it with another value
house[is.na(Alley), Alley := "No Access"]
print(house[, .N, by = Alley])

       Alley    N
1: No Access 1369
2:      Grvl   50
3:      Pave   41

In [78]:
# Average price with Alley and SaleCondition
print(house[, .(AvePrice = round(mean(SalePrice))), .(Alley, SaleCondition)])

        Alley SaleCondition AvePrice
 1: No Access        Normal   177383
 2: No Access       Abnorml   147405
 3: No Access       Partial   277559
 4:      Grvl        Normal   123313
 5:      Pave        Normal   167096
 6: No Access       AdjLand   104125
 7:      Pave       Abnorml   154144
 8:      Pave       Partial   183498
 9: No Access        Alloca   167377
10: No Access        Family   155529
11:      Grvl        Family   116000
12:      Grvl       Abnorml   115125

# Exercise 2.3

**Question 1**

In the `house` price dataset, the `Fence` variable has missing values for where the property has no fence, and the BsmtQual variable has missing values for where the property has no basement. Substitute these `NA` values with `"NoFence"` and `"NoBsmt"`.

Now calculate how the `mean` and `median` house price varies with `"Fence"` and `"BsmtQual"` both separately and together.

**Question 2**

Analyse how the `class` proportions of the mushroom changes with the `stalk-root`. What does this imply about the missing `"?"` values? Hint: you may need `prop.table` and `table`, or `.N` and `nrow` but there are other ways.

**Question 3**

**Provide Variables to clean!!!**

Your boss wants you to carry out analysis on the `house` price dataset, specifically the `PoolQC` and `BsmtFinType2` variables. The `data_description.txt` file describes the that each variable has missing values for a reason.

Clean the missing values in each variable by assigning it an appropriate substitute. Then separately for each variable, calculate the `mean`, `median`, and `sd` price. 

How do these calculation vary with `MSZoning` and `SaleCondition` together?